* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
}

section {
  width: 100vw;
  padding: 1rem 5vw;
  display: flex;
  gap: 1rem;
  align-items: flex-end;
}

/* Nested Specific */
header.design-one {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  border: 2px solid black;
  border-radius: 5px;
  background-color: burlywood;

  & > img.company-logo {
    height: 50px;
    font-weight: 600;
    font-size: 1.1rem;
  }

  & > nav.navigation {
    display:flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: black;
    }
  }
  & > .block2 {
    display: flex;
    align-items: center;
    color: black;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .block2 a {
    border: 2px black solid;
    color: black;
    padding: 0.5rem 1rem;
    background-color: rgb(245, 218, 161);
  }
  .dragon{
   height: 50px;
  }
}





/* Nested Specific Class */
header.header2 {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  border: 2px solid black;
  border-radius: 5px;
  background-color: orange;
}

.burger{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 40px;
  height: 30px;
}

.company-logo2{
  width: 100px;
  height: 80px;
}
.Logo1{
height: 50px;
font-weight: 600;
font-size: 1.2rem;
}

.bar1{
  height: 5px;
  width: 100%;
  background: black;
  border-radius: 10px;
}

.cog1 {
  font-size: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.line {
  border-left: 2px solid black;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}




/* Non-Nested Non-Specific Class */
.design-three {
  display: flex;
  align-self: flex-start;
  width: calc(100% - 1rem);
  justify-content: space-around;
  padding: 0.7rem 14vw;
  background-color: #389ebf;
}

.design-three .navigation {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.design-three .navigation .navbutton {
  font-weight: 800;
  font-size: 20px;
  color: white;
}

.fox {
  height: 90px;
}

.designtres{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #84ddfb;
}

.h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
}





/* Nested Non-Specific Class */
.design-four {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 2rem;
  width: 100vw;
  padding: 0.7rem 10vw;
  border: 3px rgb(234, 61, 22) solid;
  background-color: rgb(249, 175, 159);

 .cat {
    height: 90px;
  }

  & .navigation {
    display: flex;
    gap: 4rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  .user{
    font-size: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
}







.design-five {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 2rem;
  width: 100vw;
  padding: 0.7rem 10vw;
  border: 4px rgb(0, 0, 0) solid;
  background-color: rgb(255, 255, 255);

 .company-logo {
    height: 90px;
  }

  & .navigation {
    display: flex;
    gap: 4rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  .user{
    font-size: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
  .Purchase{
    background-color: #000000; 
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}


/* Design with animation */

header.animation-one {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 10vw;
  border: 2px solid black;
  border-radius: 5px;
  background-color: burlywood;

  & > img.company-logo {
    height: 50px;
    font-weight: 600;
    font-size: 1.1rem;
  }

  & > nav.navigation {
    display:flex;
    align-items: center;
    gap: 1rem;

    & > a.navigation-content {
      font-weight: 600;
      font-size: 1.1rem;
      color: black;

     nav a {
    color: #000000;
    text-decoration: none;
    }
    }
  }
  & > .block2 {
    display: flex;
    align-items: center;
    color: black;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .block2 a {
    border: 2px black solid;
    color: black;
    padding: 0.5rem 1rem;
    background-color: rgb(245, 218, 161);
    
  }
  .dragon{
   height: 50px;
  }
  nav a:hover{
    color: white;
  }
  nav a {
    position: relative; 
    color: #000000; 
    text-decoration: none; 
  }
  
  nav a:hover {
    color: #ffffff; 
  }
  
  nav a::before {
    content: '';
    position: absolute;
    bottom: -3px; 
    width: 0; 
    height: 3px;
    background-color: #000000;
    transition: width 0.5s; 
  }
  
  nav a:hover::before {
    width: 100%;
  }
  a.block1:hover{
    background-color: burlywood
  }

  a.block1:active {
  background-color: rgb(139, 115, 83);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}





/* Nested Specific Class */
header.animation {
  width: 100vw;
  display: flex;
  justify-content: space-between;   
  flex-direction: row;
  padding: 2rem 10vw;
  border: 2px solid black;
  border-radius: 5px;
  background-color: orange;
}

header.animation p{
font-weight: bold ;
font-size: 20px;
text-align: center;
}

.block1 {
  padding-bottom: 35px;
}

.burger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  gap: 0.8vh;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: background-color 0.3s ease;
}

.burger:hover .bar {
  background-color: #ff6347; 
}

.Logo2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.companylogo{
  width: 120px;
  height: 80px;
  cursor: pointer;
}

.company-logo{
height: 50px;
font-weight: 600;
font-size: 1.2rem;
align-items: center;
}

.bar{
  height: 5px;
  width: 100%;
  background: black;
  border-radius: 10px;
}

.cog {
 font-size: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cog .fa-cog {
  font-size: 30px;
  transition: transform 0.5s ease;
}

.line {
  width: 2px;
  height: 50px;
  background-color: #333;
  margin: 0 10px;
}

.shop {
  font-size: 25px;
}

.cog:hover .fa-cog {
  transform: rotate(360deg);
}

.shop:hover .fa-shopping-bag {
  transform: rotate(360deg);
}

.companylogo:hover {
  animation: bounce 1s linear;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  70% {
    transform: translateY(-15px);
  }
  90% {
    transform: translateY(-4px);
  }
}









/* Non-Nested Non-Specific Class */
.animation-three {
  display: flex;
  align-self: flex-start;
  width: calc(100% - 1rem);
  justify-content: space-around;
  padding: 0.7rem 14vw;
  background-color: #389ebf;
}

.animation-three .navigation1 {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.animation-three .navigation1 .nav-button {
  font-weight: 800;
  font-size: 20px;
  color: white;
}

.fox {
  height: 90px;
}

.designtres{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: #84ddfb;
}

.h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800;
}

.nav-button:hover{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -ms-transform: scale (1.5);
}









/* Nested Non-Specific Class */
.animation-four {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 2rem;
  width: 100vw;
  padding: 0.7rem 10vw;
  border: 3px rgb(234, 61, 22) solid;
  background-color: rgb(249, 175, 159);

 & .cat1 {
    height: 90px;
  }

  & .navigation {
    display: flex;
    gap: 4rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
  }

  .user{
    font-size: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
}

.cat1:hover{
  transform: translate(200px) rotate(360deg);
  transition: 0.5s;
}











.design-five {
  display: flex;
  align-items:center;
  justify-content: space-between;
  gap: 2rem;
  width: 100vw;
  padding: 0.7rem 10vw;
  border: 4px rgb(0, 0, 0) solid;
  background-color: rgb(255, 255, 255);

 & .penguin{
    height: 90px;
  }

  & .navigation {
    display: flex;
    gap: 4rem;
  }

  & .navigation-content {
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family:Arial, Helvetica, sans-serif;
  }
  .user{
    font-size: 30px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  }
  .Purchase{
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
}

